body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DBC175;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBC175;
    overflow-x: hidden;
}

.store-logo{
    height: 50px;
    width: 50px;
}

.main-heading{
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
}

.category-heading{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding-left: 2rem;
}
.product-class{
    border: 1px solid;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgb(56, 57, 57);
    padding: 0 10px;
}

.product-info{
    display: flex;
    justify-content: space-around;
    background-color: #F7F7F7;
    padding: 10px 10px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.price-element{
    margin-top: 1.5rem;
}

.rate-count{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-element{
    margin-top: 0.5rem;
    width: 150px;
    height: 150px;
    padding: 0 10px;
}

#mens-clothing-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    min-height: 200px;
    overflow-x: hidden;
}

#jewelery-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    min-height: 200px;
}

#electronics-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    min-height: 200px;
}

#womens-clothing-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    min-height: 200px;
}

.span-image{
    height: 20px;
    width: 20px;
}

.rate-star{
    display: flex;
    justify-content: space-around;
    margin-left: 1.5rem;
}

footer{
    background-color: #DBC175;
    font-family: sans-serif;
    color: #ffffff;
    margin-top: 2rem;
    overflow-x: hidden;
    min-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width : 450px) {
    header{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        background-color: #DBC175;
    }

    #mens-clothing-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3rem;
        min-height: 200px;
        overflow-x: hidden;
        align-items: center;
    }

    #jewelery-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3rem;
        min-height: 200px;
        align-items: center;
    }
    
    #electronics-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3rem;
        min-height: 200px;
        align-items: center;
    }
    
    #womens-clothing-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3rem;
        min-height: 200px;
        align-items: center;
    }

    .product-class{
        margin-bottom: 2rem;
    }
}

/* view products css rulesets */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    /* color: black; */
    text-decoration: none;
    cursor: pointer;
}

.view-des{
    text-align: center;
    align-self: center;
}


/* loader section  */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    /* after completion of 3seconds the addeventlistner removes the loader from body of html */
    transition: opacity 3s, visibility 3s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: black;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}


/* error-message */

.error-message {
    background-color: #f8d7da;
    color: black;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
}

/* css for signup and login buttons */

.signupbtn{
    color: #ffffff;
    font-size: 18px;
    background-color: transparent;
    border-radius: 0.6rem;
    height: 2.5rem;
    padding: 0 2.5rem;
    border-color: #888;
    cursor: pointer;
    margin-right: 2rem;
}

.loginbtn{
    color: #ffffff;
    font-size: 18px;
    background-color: transparent;
    border-radius: 0.6rem;
    height: 2.5rem;
    padding: 0 2.5rem;
    border-color: #888;
    cursor: pointer;
    margin-left: 2rem;
}

.button-container{
    display: flex;
    padding: 0 8rem;
}

.product-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}