body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    overflow: hidden;
}

.heading{
    margin-bottom: 4rem;
}

.signup-form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5rem 5rem;
}

.form-group {
    margin-bottom: 2rem;
    /* padding-right: auto; */
    display: flex;
    flex-direction: column;
}

input {
    padding-right: 15rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 2rem;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.signup-img{
    height: 100px;
    width: 100px;
    margin-left: 2rem;
}

#home-button{
    margin-right: 2rem;
}

@media all and (max-width:375px) {
    .outer-container {
        padding: 1rem;
    }
    
    .heading {
        font-size: 1.5rem;
    }
    
    .signup-form {
        padding: 2rem;
    }
    
    .form-group {
        margin-bottom: 1rem;
    }
    
    input {
        padding: 0.25rem;
    }
    
    button {
        padding: 8px 12px;
    }
    
    .signup-img {
        height: 60px;
        width: 60px;
    }
}